<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfvmJg-ro7ZwaGABiNZPUlucEwH9c4L4E</string>
	<key>GCM_SENDER_ID</key>
	<string>427380973547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locationWithMastercard</string>
	<key>PROJECT_ID</key>
	<string>location-with-mastercard</string>
	<key>STORAGE_BUCKET</key>
	<string>location-with-mastercard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427380973547:ios:975147af13c23f467903ae</string>
</dict>
</plist>